*{
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: var(--font);
}

.titleapp{
    text-align: center;
    padding: 5px 0;
}

.title{
    text-align: center;
    padding: 15px 0;
}

.answer{
    text-align: center;
}

/* === variables === */
:root{
    --backgroundColor: #b0e0e6;
    --font:  'Poppins', sans-serif;
}